#realisationsection{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 5vw;
    padding: 4rem 6rem;
    scroll-behavior: none;
}

#realisationinfo{
    width: 50%;
}

#realisationinfo h3{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#currentrealisation{
    width: 50%;
}

#realisationphoto{
    border-radius: var(--radius);
    border: var(--border);
    width: 100%;
    aspect-ratio: 1920/1080;
    height: auto;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

#technos{
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
    bottom: 2rem;
    left: 2rem;
}

.techno{
    background-color: rgba(0,0,0,.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 2;
    border: 1px solid var(--lighterblack);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
}

#realisationphoto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#projectchoice{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

#projectnumbers{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.projectbubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border: var(--border);
    border-radius: 100%;
    background-color: var(--lightblack);
    cursor: pointer;
}

.activeprojectbubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border: var(--border);
    border-radius: 100%;
    background-color: var(--lighterblack)!important;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    #realisationsection{
        flex-direction: column-reverse;
        row-gap: 3rem;
        padding: 5rem;
    }
    
    #realisationinfo{
        width: 100%;
    }
    
    #currentrealisation{
        width: 100%;
    }
    
    #technos{
        position: absolute;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 1rem;
        bottom: 1.5rem;
        left: 1rem;
    }
    
    .techno{
        background-color: rgba(0,0,0,.8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 2;
        border: 1px solid var(--lighterblack);
        border-radius: 30px;
        padding: 0.5rem 1rem;
        font-size: 0.65rem;
    }
    
    #realisationphoto img{
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
    
    #projectchoice{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
    }
    
    #projectnumbers{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
    }
    
    .projectbubble{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        padding: 1rem;
        border: var(--border);
        border-radius: 100%;
        background-color: var(--lightblack);
        cursor: pointer;
    }
    
    .activeprojectbubble{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        padding: 1rem;
        border: var(--border);
        border-radius: 100%;
        background-color: var(--lighterblack)!important;
        cursor: pointer;
    }
}