:root{
  --black: black;
  --white: white;
  --lightblack: #111111;
  --lighterblack: #222222;
  --grey: #333;
  --border: 1px solid var(--grey);
  --radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--white);
  font-family: var(--font-primary);
  background-color: var(--black);
  scroll-behavior: smooth;
}

header{
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-bottom: var(--border);
  background-color: rgba(0,0,0,.8);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 20;
}

header span{
  font-weight: 600;
}

header nav ul{
  font-size: 0.9rem;
  font-family: var(--font-second);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  list-style-type: none;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

p{
  font-size: 1.10rem;
  margin-bottom: 2rem;
  font-family: var(--font-second);
  font-weight: 300;
  line-height: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.whitebutton{
  font-size: 0.9rem;
  font-family: var(--font-second);
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.whitebutton svg{
  margin-left: 0.5rem;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  border-top: var(--border);
}

footer p{
  letter-spacing: -0.5px;
}

@media screen and (max-width: 767px){
  html{
    font-size: 13px;
  }

  header{
    padding: 1.5rem 4rem;
  }

  header nav{
    display: none;
  }

  h2{
    font-size: 2rem;
  }

  footer p{
    letter-spacing: -0.75px;
  }
}